@model PFGE.Models.PlacePhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_MainPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PlacePhoto</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceId)
                @Html.ValidationMessageFor(model => model.PlaceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoName)
                @Html.ValidationMessageFor(model => model.PhotoName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoDescription)
                @Html.ValidationMessageFor(model => model.PhotoDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
