@model PFGE.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_MainPage.cshtml";
}
<div class="introSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h4>Event</h4>
	                <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.EventName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EventName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EventDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EventDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EventDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EventDescription)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>

